@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fr.allfont.net/allfont.css?fonts=agency-fb);

body{
    display: flex;
    font-family: 'agency-fb', sans-serif;
    text-align: center;
    justify-content: center;
  }
  form {
    margin-top: 20px;
    padding: 40px 60px;
    border-radius: 10px;
    min-width: 300px;
    font-family: 'agency-fb', sans-serif;
  }
  form h1{
    color: #C23028;
    font-family: 'agency-fb', sans-serif;
    text-align: center; 
  }

  form .inputs {
    display: flex;
    flex-direction: column;
  }
  form .inputs input[type='Pseudo'], input[type='email'], input[type='password'], input[type='password_retype'] {
    padding: 15px;
    border:none;
    background-color: #C23028;
    opacity: 80%;
    color: #FFFFFF;
    outline:none;
    margin-bottom: 15px;
    font-family: 'agency-fb', sans-serif;
    transition: 1s;
  }
  form .inputs input[type='Pseudo']:hover, input[type='email']:hover, input[type='password']:hover, input[type='password_retype']:hover {
    opacity: 100%;
  }
  form .inputs input[type='Pseudo']::placeholder, input[type='email']::placeholder, input[type='password']::placeholder, input[type='password_retype']::placeholder {
    opacity: 100%;
    color: #FFFFFF;
  }

  
  
  
  
  
  form p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color: #878787;
    font-family: 'agency-fb', sans-serif;
    text-align: center;
    justify-content: center;
    text-decoration: none;
  }
  form p.inscription span{
    color: #C23028;
    font-family: 'agency-fb', sans-serif;
    text-decoration: none;
  }form p.inscription span > a{
    text-decoration: none;
    color: #C23028;
  
  }
  
  form div.inputs button{
    padding: 10px 15px;
    border:none;
    font-size: 16px;
    color: #fff;
    background-color: #C23028;
    opacity: 75%;
    outline:none;
    cursor:pointer;
    font-family: 'agency-fb', sans-serif;
    transition: 1s;
  }
  form div.inputs button:hover{
    opacity: 100%;
  }

