body
{
  background-color: #fff;
}

.bouton_oni {
	max-width : 85%;
	max-height : 80%;
	color :#161616(40,40,40,0);
  margin-left :  5px;
	margin-top : 5px ;
}

:root{
  --hauteur-menu: 70px;
}

* {
  font-family: Agency FB;
  margin: 0%;
  padding: 0%;
}

nav {
  width: 100%;
  font-size: 20px;
  position: sticky; 
  background-color: #161616;
}

nav > ul {
  display: flex;
  text-align: inherit;
  box-shadow: 0px 1px 2px 1px rgba(122,30,28,0.7);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: center; 
}

nav > ul > li {
  background-color: #161616;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  color :#C23028;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*Sert à aligner le texte de nav */
  display: center;
  opacity: 0.7;
}

li a {
  text-decoration: none;
  color:  #C23028;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 25%;
  display: inline-block;
  opacity:0.7;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.8s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: center;
  overflow: hidden; /* Sert à cacher les ul */
  max-height: 0;
  border-radius: 3px;
  color :#C23028
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1.5s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(122,30,28,0.7);
    border-top: 3px solid #C23028;
  }
  30% {
    box-shadow: 0px 0px 0px 0px rgba(193,105,100,0.7);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #FFFFFF;
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.7);
  }
}

.sous-menu > li:hover {
  background-color: #C23028;
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 25%;
  padding-right: 25%
  width: 100%;
  position: center;
}

.sous-menu > li:hover > a {
  color: white;
}

.sous-menu {
	position : center;
}

li::marker {
  font-size: 0;
}