body
{
    background-color: #404040;
    color: white;
	background-image: url("Bannière Oni New"); 100%
    background-attachment: fixed; /* Le fond restera fixe */
	background-repeat: no-repeat;
	opacity:0,7;
	background-size: 100%;
}

.bouton_oni {
	max-width : 85%;
	max-height : 80%;
	rgba(40,40,40,0);
	margin-left :  5px;
	margin-top : 5px ;
}

:root{
  --hauteur-menu: 60px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Agency FB;
  rgba(0,0,0,0.7)
}

nav {
  width: 100%;
  font-size: 20px;
  position: sticky;
  top: 0;
  color: #161616;
  background-color: #161616;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(122,30,28,0.7);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: center; 
}

nav > ul > li {
  background-color: #161616;
  position: relative;
  height: 100%;
  flex: 1;
  opacity : 0,7;
}

nav > ul > li:hover > a{
  rgba(122,30,28,0,7);
  position: center;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: center;
  opacity: 0,7;
}

li a {
  text-decoration: none;
  color:  #C23028;
  opacity : 0,7;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 25%;
  display: inline-block;
  opacity:0,7;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.8s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: center;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  rgba(130,38,2,0,1);
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1.5s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(122,30,28,0.7);
    border-top: 3px solid #C23028;
  }
  30% {
    box-shadow: 0px 0px 0px 0px rgba(193,105,100,0.7);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #FFFFFF;
    box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.7);
  }
}

.sous-menu > li:hover {
  background-color: rgba(122, 30, 28, 0.3);
}

.sous-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 25%;
  padding-right: 25%
  width: 100%;
  position: center;
}

.sous-menu > li:hover > a {
  color: white;
}

}

.sous-menu {
	position : center;
}

li::marker {
  font-size: 0;
}

