.titre-presentation {
	font: Arial;
	margin-left : 16%;
	margin-right: 16%;
	font-size: 72px;
	position: flex;
	vertical-align: baseline;
	outline: 0;
	color: #000000;
}


.presentation {
	font: Arial;
	margin-left : 16%;
	margin-right: 16%;
	font-size: 24px;
	position: flex;
	color: #000000;
}


.presentation2 {
	font: Agency FB;
	margin-left : 16%;
	margin-right: 16%;
	font-size: 24px;
	position: flex;
	vertical-align: baseline;
	outline: 0;
	color: #000000;
}


.slogan {
	font: Agency FB;
	text-align: center;
	font-size: 48px;
	position: flex;
	color: #C23028;
}

.bouton {
	color: #000000;